<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    failOnDeprecation="true"
    failOnWarning="true"
    failOnNotice="true"
    colors="true"
>
    <testsuites>
        <testsuite name="Framework">
            <directory suffix="Test.php">./tests/Framework</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="DB_HOST" value="localhost:/Users/vasyl/Library/Application Support/Local/run/HHnsCwCYB/mysql/mysqld.sock" />
        <const name="AAM_UNITTEST_DEFAULT_ADMIN_PASS" value="123456" />
    </php>
</phpunit>